<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kort beskrivelse til søgemaskiner.">
    <meta name="author" content="Thomas BKJ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDS price calculator</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/components.css">
    <script src="/js/htmx.min.js"></script>
</head>
<body>
<header>
</header>
<main id="content">
    <article class="index-page-nav">
        <img class="index-page-nav-logo" src="../../public/images/SDS-logo2.gif" alt="">
        <h1>SDS prisberegner</h1>
        <nav>
            <button hx-get="/views/customers" hx-target="#content">Kunder</button>
            <button hx-get="/views/plans" hx-target="#content">Rengøringsplaner</button>
            <button hx-get="/views/tasks" hx-target="#content">Opgaver</button>
        </nav>
        <p>Vælg en funktion ovenfor.</p>
    </article>

</main>
</body>
</html>